<main class="grid pad">
  <%= render "shared/profile", user: @user %>

  <section class="grid-item pad">
    <div class="pad center-align">
      <h2 class="margin-bottom">Bio</h2>
      <p><%= @user.bio %></p>
    </div>
  </section>
  <% @user.recent_posts.each do |post| %>
    <%= render partial: "shared/post_list", locals: {post: post, user: @user} %>
  <% end %>
  <a href="<%= user_posts_path(@user) %>" class="btn pad">See all posts</a>
</main>
