<main class="grid pad">
  <%= render 'shared/profile', user: @user %>

  <% @posts.each do |post| %>
    <%= render partial: "shared/post_list", locals: {post: post, user: @user} %>
    <% post.recent_comments.each do |comment| %>
      <%= render "shared/comment_list", comment: comment%>
    <% end %>
  <% end %>
</main>
<button class="btn pad">Pagination</button>