<div>
    <h1>Create your post</h1>

    <%= form_with model: @post, url: user_posts_path, scope: :post do |form| %>  
        <%= form.text_field :title, required: true %>
        <%= form.text_area :text, placeholder: "Write something here.....", rows: 10, required: true %>
    <%= form.submit "Post" %>
    <% end %> 
</div>