<main class="grid pad">
  <%= render partial: "shared/post_list", locals: {post: @post, user: @user} %>
  <% @post.comments.each do |comment| %>
    <%= render "shared/comment_list", comment: comment%>
  <% end %>
</main>